
lint.gale.directory="{{ lint_config.gale_dir }}"

lint.chicago.novelMetadataPath="{{ lint_config.chicago.novel_csv }}"
lint.chicago.authorMetadataPath="{{ lint_config.chicago.author_csv }}"
lint.chicago.textDirectory="{{ lint_config.chicago.text_dir }}"
